<div class="Container">
  <div>
    <%= link_to sessions_path do %>
      <%= image_tag 'icons/volver.svg', width: 35, height: 35, alt: 'Ver productos' %>
    <%end%>
  </div>
  <div
      class="Crear-Cuenta Active-Form"
      id="crear-cuenta"
    >
    <br>
    <h2>Registrar cuenta</h2>
      <%= form_with(model: @user) do |form| %>
        <div class="usuario">
          <%= form.email_field :email, class: "form-control", required: true %>
          <%= form.label :email, "Correo electrónico" %>
          <span></span>
          <% if @user.errors[:email].any? %>
            <div class="error-message"><%= @user.errors[:email].first %></div>
          <% end %>
        </div>

        <div class="usuario">
          <%= form.label :username %>
          <%= form.text_field :username, class: "form-control", required: true %>
          <% if @user.errors[:username].any? %>
            <div class="error-message"><%= @user.errors[:username].first %></div>
          <% end %>
        </div>

        <div class="usuario">
          <%= form.label :password %>
          <%= form.password_field :password, class: "form-control", required: true %>
          <% if @user.errors[:password].any? %>
            <div class="error-message"><%= @user.errors[:password].first %></div>
          <% end %>
        </div>

        <%= form.hidden_field :admin, value: false %>
        <div>
           <%= form.submit "Iniciar sesión", id: "enviar", class: "ingresar" %>
        </div>
        <br>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const inputs = document.querySelectorAll('.usuario input');
    
    inputs.forEach(input => {
      input.addEventListener('focus', function() {
        input.parentNode.classList.add('focused');
      });
      
      input.addEventListener('blur', function() {
        if (!input.value.trim()) {
          input.parentNode.classList.remove('focused');
        }
      });
    });
  });
</script>