<%= link_to productos_path do %>
  <h1>SHOP CENTER</h1>
 
  <% if Current.user.nil? %>
    <%= link_to "Login", new_session_path %>
  <% end %>
  
  <%= link_to "Logout", session_path(Current.user.id), data: { 
  turbo_method: :delete,
  turbo_confirm: "Esta seguro?"
  } if Current.user %>
  
  
  
  
  <%= link_to "Añadir producto", new_producto_path if Current.user && Current.user.admin? %>
  <%= link_to "Categorias", categories_path if Current.user && Current.user.admin?%>
  <%= link_to "Favoritos", favorites_path if Current.user && !Current.user.admin?%>

<% end %>
  