<div class="row align-items-center">
  <div class="col bg-danger">
    <div id="main-container">
      <div>
        <%= link_to productos_path do %>
          <h1>BELLA BOUTIQUE</h1>
        <% end %>
      </div>
      <div>
        <% if Current.user && Current.user.admin? %>
          <%= link_to "A침adir producto", new_producto_path %>
          <%= link_to "Category", categories_path %>
          <%= link_to "Talla", tallas_path %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col bg-primary"></div>
  <div class="col-auto ml-auto bg-success">
    <!-- Tercera columna para el bot칩n de inicio de sesi칩n -->
    <div class="text-right">
      <%= link_to new_session_path, class: 'btn btn-primary' do %>
        <i class="fas fa-sign-in-alt"></i> Iniciar sesi칩n
      <% end %>
    </div>
  </div>
</div>

