<table class="table mt-3">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
  <% if @carritos.present? %>
    <% @carritos.each do |carrito| %>
      <tr>
        <td><%= carrito.producto.titulo %></td>
        <td><%= carrito.producto.price %></td>
        <td>
          <% if Current.user && !Current.user.admin? %>
            <%= link_to "Eliminar", carrito_path(carrito), data: { turbo_method: :delete, turbo_confirm: 'Alerta, ¿estás seguro?' }, class: "btn btn-danger btn-sm" %>
          <% end %> 
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="3">No hay productos en el carrito.</td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if @carritos.present? %>
  <tr>
    <td colspan="2">Total:</td>
    <td><%= @carritos.sum { |carrito| carrito.producto.price } %></td>
    <br>
    <td>
      <%= link_to new_cargo_path(total: @carritos.sum { |carrito| carrito.producto.price }), class: "btn btn-sm d-inline-flex  custom-btn", style: "text-align: left; border: 2px solid #17E010;" do %>
        <%= image_tag 'icons/pagar.svg', width: 35, height: 35 %>
        <p class="ml-2" style="font-weight: bold;">Pagar</p>
      <% end %>
    </td>
  </tr>
<% end %>


