<!--crear el formulario-->
<%= form_with model: @producto do |form| %>
  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
    <% if @producto.errors[:titulo].any? %>
      <div class="error-message"><%= @producto.errors[:titulo].first %></div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
    <% if @producto.errors[:description].any? %>
      <div class="error-message"><%= @producto.errors[:description].first %></div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, step: '0.01' %>
    <% if @producto.errors[:price].any? %>
      <div class="error-message"><%= @producto.errors[:price].first %></div>
    <% end %>
  </div>
  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
    <% if @producto.errors[:color].any? %>
      <div class="error-message"><%= @producto.errors[:color].first %></div>
    <% end %>
  </div>
  <div class="field">
    <%= form.label :stock %>
    <%= form.number_field :stock %>
    <% if @producto.errors[:stock].any? %>
      <div class="error-message"><%= @producto.errors[:stock].first %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :category_id, "Categoria" %>
    <%= form.collection_select :category_id, Category.all.order(name: :asc), :id, :name %>
  </div>
  <div class="field">
    <%= form.label :talla_id, "Talla" %>
    <%= form.collection_select :talla_id, Talla.all.order(name: :asc), :id, :name %>
  </div>


  <div>
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>

  <%= form.submit %>
<% end %>
