<h1 class='title'><%=@producto.titulo%></h1>
<%=image_tag @producto.photo, width:200 if @producto.photo.attached?%>
<p class='description'>Detalles : <%=@producto.description%></p>
<p class='color'>Color : <%=@producto.color%></p>
<p class='stock'>Stock : <%=@producto.stock%></p>
<span class='price'>Precio : <%=@producto.price%></span>
<br>
<br>
<%= link_to cart_items_path(product_id: @producto.id), data: { turbo_method: :post }, class: "flex items-center " do %>
    <div class="flex items-center bg-green-600 rounded p-2 hover:bg-green-400">
      <p class="mr-2">Añadir al carrito</p>
      <%= image_tag 'icons/shop.svg', width: 35, height: 35 %>
    </div>
  <% end %>
  
  
  
  
<% if Current.user && Current.user.admin? %>
    <%= link_to "Editar Producto", edit_producto_path(@producto) %>

    <%= link_to "Delete", producto_path(@producto), data: {
        turbo_method: :delete,
        turbo_confirm: 'Alerta, ¿estás seguro?'
    } %>
<% end %>

<%= render partial: 'favorite', locals: { producto: @producto } %>
