<h1 class='title'><%=@producto.titulo%></h1>
<%=image_tag @producto.photo, width:200 if @producto.photo.attached?%>
<p class='description'>Detalles : <%=@producto.description%></p>
<p class='color'>Color : <%=@producto.color%></p>
<p class='stock'>Stock : <%=@producto.stock%></p>
<span class='price'>Precio : <%=@producto.price%></span>
<br>
<br>



<% unless Current.user && Current.user.admin? %>
  <%= link_to "#", id: "add-to-cart-link", class: "flex items-center", data: { turbo_method: :post } do %>
    <div class="flex items-center bg-green-600 rounded p-2 hover:bg-green-400">
      <%= image_tag 'icons/shop.svg', width: 35, height: 35 %>
      <p class="ml-2">Añadir al carrito</p>
    </div>
  <% end %>
<% end %>

<div id="quantity-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Ingresa la cantidad:</p>
    <%= form_with(url: carritos_path, method: :post, id: "add-to-cart-form") do |form| %>
      <%= form.hidden_field :producto_id, value: @producto.id %>
      <%= form.label :Nº %>
      <%= form.number_field :quantity, class: "quantity-input", min: 1 %>
      <%= form.submit "Agregar al carrito", class: "btn-submit" %>
    <% end %>
    
  </div>
</div>

  
<% if Current.user && Current.user.admin? %>
    <%= link_to "Editar Producto", edit_producto_path(@producto) %>

    <%= link_to "Delete", producto_path(@producto), data: {
        turbo_method: :delete,
        turbo_confirm: 'Alerta, ¿estás seguro?'
    } %>
<% end %>

<%= render partial: 'favorite', locals: { producto: @producto } %>



<script>
  // Get the modal
  var modal = document.getElementById("quantity-modal");

  // Get the link that opens the modal
  var link = document.getElementById("add-to-cart-link");

  // Get the form inside the modal
  var form = document.getElementById("add-to-cart-form");

  // Get the input field for quantity
  var quantityInput = document.querySelector(".quantity-input");

  // When the user clicks the link, open the modal
  link.onclick = function(event) {
    event.preventDefault(); // Evitar el comportamiento predeterminado del enlace
    event.stopPropagation(); // Evitar la propagación del evento
    modal.style.display = "block";
  }

  // When the user submits the form, close the modal
  form.onsubmit = function() {
    modal.style.display = "none";
  }

  // When the user clicks on <span> (x), close the modal
  var span = document.getElementsByClassName("close")[0];
  span.onclick = function() {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  // Submit the form when clicking "Agregar al carrito"
  var submitBtn = document.querySelector(".btn-submit");
  submitBtn.addEventListener("click", function() {
    // Set the value of the hidden input field to the quantity input value
    document.getElementById("quantity").value = quantityInput.value;
    // Submit the form
    form.submit();
  });
</script>
